CI_ENVIRONMENT = production
app.baseURL = 'https://elores.in/backend/public/'
app.forceGlobalSecureRequests = true

database.default.hostname = localhost
database.default.database = YOUR_LIVE_DB
database.default.username = YOUR_LIVE_DB_USER
database.default.password = YOUR_LIVE_DB_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

ELORES_ADMIN_SECRET = CHANGE_TO_RANDOM_SECRET
ELORES_CUSTOMER_SECRET = CHANGE_TO_ANOTHER_RANDOM_SECRET
